@font-face {
    font-family: 'Geist';
    src: url('./GeistMono-UltraBlack.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Geist';
    src: url('./GeistMono-Light.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #000;
    --white: #fff;
}

* {
    background-color: var(--black);
    color: var(--white);
    font-size: 62.5%;
}

p {
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 72rem !important;
    padding-top: 18rem;
    height: fit-content;
}

.walkyTitle {
    font-family: Geist;
    font-weight: bold;
    font-size: 24rem;
    line-height: 80%;
    width: fit-content !important;
    text-transform: uppercase;
}

.walkySub {
    display: flex;
    font-family: Geist;
    font-weight: 300;
    font-size: 2rem;
    white-space: pre; /* 줄바꿈 방지 */
    width: 100%;
    text-align: justify;
}


.walkySub::after {
    content: '';
    display: inline-block;
    width: 100%;
}

.btnContainer {
    width: 300px;
    height: 300px;
}

.callBtn {
    width: 300px;
    height: 300px;
    aspect-ratio: 1 / 1; /* 너비와 높이의 비율을 1:1로 고정 */
    background-color: var(--white);
    border-radius: 100%;
    filter: drop-shadow(0px -7px 34px rgba(255, 255, 255, 0.48));
    transition: all ease-in-out 0.3s;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.callBtn > p {
    background: none;
    color: var(--black);
    position: absolute;
    font-family: Geist;
    font-weight: bold;
    font-size: 5rem;
}

.callBtn:hover {
    background-color: #42ff87;
}

.svg {
    width: 5rem;
    height: 5rem;
    display: block;
}

.focusWrap {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.focusSvg {
    width: 2rem;
}

.text {
    font-family: Geist;
    font-weight: normal;
    font-size: 2rem;
    text-align: start;
    padding-top: 8rem;
    white-space: pre-line;
}